* {	margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; }

html { scroll-behavior: smooth;	background: #1872B6; }

header { box-shadow: 0px 2px 20px 1px #000; background: #084675; height: 60px; width: 100%; position: fixed; top: 0; padding: 30px 0 30px 0; }

ul { display: flex; justify-content: center; flex-wrap: wrap; }

ul li {	display: inline; margin-right: 30px; margin-bottom: 10px; }

ul li a { padding: 3px;	text-decoration: none; }

ul li a:hover {	/*text-decoration: underline;*/	border-bottom: 2px solid #fff; }

#botaoTopo { display: none;	position: fixed; bottom: 20px; right: 30px;	font-size: 30px; border: none; outline: none; background-color: #fff; color: #084675; cursor: pointer; padding: 15px; border-radius: 40px; }

#botaoTopo:hover { opacity: 1; }

section { padding: 150px 10% 150px 10%; }

h1 { font-size: 70px; text-align: center; }

h2 { font-size: 35px; text-align: inherit; }

h3 { text-align: center; text-decoration: none;	font-size: 25px; }

h1, h2, h3, p, ul li a, figcaption { color: #fff; font-family: 'Raleway', sans-serif; }

img { display: block; margin-left: auto; margin-right: auto; }

img:hover {	cursor: pointer; }

img:active { transform: scale(1.5, 1.5); -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -o-transition-duration: 1s;	transition-duration: 1s; }

.imgResize { width: 40%; margin-top: 50px; box-shadow: 5px 5px 25px 1px #2b2b2b; }

figcaption { text-align: center; font-style: italic; margin-top: 20px; font-size: 15px; }

p {	text-align: justify; text-indent: 3em; margin-top: 50px; line-height: 35px; font-size: 20px; }

.pItalic { font-style: italic; padding-left: 20%; line-height: normal; }

hr { margin: 0 10% 0 10%; color: #fff; opacity: 0.5; }

footer p { text-align: center; text-indent: 0; margin-bottom: 50px; }

@keyframes fadein {	from { opacity: 0; } to { opacity: 1; } }

@media (max-width: 319px) { header { display: none; } section { padding: 50px 15px 50px 15px; } p { font-size: 10px; } img { width: 100%; } h1, h2, h3, p { font-size: initial; text-indent: initial; } }

@media (min-width: 320px) and (max-width: 360px) { header { display: none; } section { padding: 50px 5% 50px 5%; } h2 { font-size: 25px; } h3, p { font-size: 15px; } .imgResize { width: 100%; } footer p { font-size: 12px; } }

@media (min-width: 361px) and (max-width: 375px) { header { display: none; } section { padding: 50px 5% 50px 5%; } h2 { font-size: 25px; } h3, p { font-size: 15px; } .imgResize { width: 100%; } footer p { font-size: 12px; } }

@media (min-width: 376px) and (max-width: 424px) { header { display: none; } section { padding: 50px 5% 50px 5%; } h2 { font-size: 25px; } h3, p { font-size: 15px; } .imgResize { width: 100%; } footer p { font-size: 12px; } }

@media (min-width: 425px) and (max-width: 767px) { header { display: block; } ul li { margin-right: 0; } ul li a { font-size: 9px; } section { padding: 50px 5% 50px 5%; } h1 { margin-top: 150px; } h2 { font-size: 30px; } h3, p { font-size: 15px; } .imgResize { width: 100%; } footer p { font-size: 12px; } }

@media (min-width: 768px) and (max-width: 1023px) { ul li { margin-right: 10px; } ul li a { font-size: 14px; } .imgResize { width: 50%; } }
