* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
	background: #1872B6;
}

nav {
	box-shadow: 0px 2px 20px 1px #000;
	background: #084675;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	padding: 30px;
}

section {
	padding: 10px 0 150px 0;
	float: left;
}

hr {
	margin: 0 10% 0 10%;
	opacity: 0.5;
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

#botaoTopo {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 30px;
	border: none;
	outline: none;
	background-color: #fff;
	color: #084675;
	cursor: pointer;
	padding: 15px;
	border-radius: 40px;
}

#botaoTopo:hover {
	opacity: 1;
}

ul {
	list-style: none;
}

ul li {
	float: left;
	margin-right: 30px;
	margin-bottom: 25px;
}

ul li a {
	padding: 5px;
	text-decoration: none;
}

ul li a:hover {
	/*text-decoration: underline;*/
	border-bottom: 2px solid #fff;
}

h1,
h2 {
	font-size: 35px;
	text-align: center;
	margin-top: 150px;
	text-decoration: none;
}

h1 {
	font-size: 60px;
}

h2 {
	text-align: inherit;
	margin-left: 10%;
}

h3 {
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

h1,
h2,
h3,
p,
ul li a,
figcaption {
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	text-align: center;
	font-style: italic;
	margin-top: 20px;
	font-size: 20px;
}

.imgResize {
	width: 40%;
	margin-top: 50px;
	box-shadow: 5px 5px 25px 1px #2b2b2b;
}

img:hover {
	cursor: pointer;
}

img:active {
	transform: scale(1.5, 1.5);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

p {
	text-align: justify;
	text-indent: 3em;
	margin: 40px 10% 0px 10%;
	line-height: 35px;
	font-size: 20px;
}

.pItalic {
	font-style: italic;
	padding-left: 20%;
}

footer p {
	text-align: center;
	padding: 20px;
	margin-bottom: 30px;
}

.w3-animate-top {
	position: relative;
	animation: animatetop 0.4s
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}

	to {
		top: 0;
		opacity: 1
	}
}